body {
    padding-top: 30px;
    background-color: #262626;
    color: aliceblue;
}

#app-view {
    width: 640px;
    height: 480px;
    display: block;
    margin: 0 auto;
}

#app-view.hidden {
    display: none;
}

#status {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#status-description {
    text-align: center;
    font-size: 15px;
}

#log {
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
    z-index: 10;
    margin: 0;
}

.app-control-panel {

}

.app-control-panel > h2 {
    text-align: center;
}
